<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart acceptBidStart fa fa-check-circle grey"></i>
    <i class="allProgress acceptBidProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone acceptBidDone fa fa-check-circle hide"></i>
    <i class="allRetry acceptBidRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <% if @collection.is_lazy_minted? %>
      <h4>Mint and Accept Bid</h4>
      <p class="para-color">Send transaction with your wallet</p>
    <%else%>
      <h4><%= t('shared.accept_bid')%></h4>
      <p class="para-color"><%= t('shared.transaction_with_wallet')%></p>
    <%end%>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart acceptBidStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress acceptBidProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone acceptBidDone disabledLink hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry acceptBidRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>