<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart approvebuyStart fa fa-check-circle grey"></i>
    <i class="allProgress approvebuyProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone approvebuyDone fa fa-check-circle hide"></i>
    <i class="allRetry approvebuyRetry fa fa-check-circle grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.approve')%></h4>
    <p class="para-color"><%= t('collections.show.approve_your_buy')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart approvebuyStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress approvebuyProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone approvebuyDone disabledLink hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry approvebuyRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>