<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart approvebidStart fa fa-check-circle grey"></i>
    <i class="allProgress approvebidProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone approvebidDone fa fa-check-circle hide"></i>
    <i class="allRetry approvebidRetry fa fa-check-circle grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.approve')%></h4>
    <p class="para-color"><%= t('collections.show.approve_your_bid')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart approvebidStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress approvebidProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone approvebidDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry approvebidRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>