<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart approveExecbidStart fa fa-check-circle hide grey"></i>
    <i class="allProgress approveExecbidProgress fa fa-spinner fa-pulse"></i>
    <i class="allDone approveExecbidDone fa fa-check-circle hide"></i>
    <i class="allRetry approveExecbidRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.approve')%></h4>
    <p class="para-color"><%= t('collections.show.approve_terms')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart approveExecbidStart disabledLink hide grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress approveExecbidProgress disabledLink"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone approveExecbidDone disabledLink hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry approveExecbidRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>