<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allProgress approveProgress fa fa-spinner fa-pulse"></i>
    <i class="allDone approveDone fa fa-check-circle hide"></i>
    <i class="allRetry approveRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.form.approve')%></h4>
    <p class="para-color"><%= t('collections.form.approve_text')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allProgress approveProgress disabledLink"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone approveDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry approveRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>