<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allProgress burnProgress fa fa-spinner fa-pulse"></i>
    <i class="allDone burnDone fa fa-check-circle hide"></i>
    <i class="allRetry burnRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.burning')%></h4>
    <p class="para-color"><%= t('collections.show.follow_the_wallet')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allProgress burnProgress disabledLink"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone burnDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry burnRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>