<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allProgress convertProgress fa fa-spinner fa-pulse"></i>
    <i class="allDone convertDone fa fa-check-circle hide"></i>
    <i class="allRetry convertRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t("network.#{Current.network.short_name}.convert_coin_to_token")%></h4>
    <p class="para-color"><%= t('shared.transaction_with_wallet')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allProgress convertProgress disabledLink"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone convertDone disabledLink hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry convertRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>