<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart mintStart fa fa-check-circle grey"></i>
    <i class="allProgress mintProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone mintDone fa fa-check-circle hide"></i>
    <i class="allRetry mintRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.form.upload_mint')%></h4>
    <p class="para-color"><%= t('collections.form.approve_text')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart mintStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress mintProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone mintDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry mintRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>