<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart signLockContentStart fa fa-check-circle grey"></i>
    <i class="allProgress signLockContentProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone signLockContentDone fa fa-check-circle hide"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.form.locked_content')%></h4>
    <p class="para-color"><%= t('collections.form.locked_content_msg')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart signLockContentStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress signLockContentProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allRetry signLockContentRetry hide"><%= t('shared.try_again')%></a>
    <a href="javascript:void(0)" class="allDone signLockContentDone hide"><%= t('shared.done')%></a>
  </div>
</div>