<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart signFixPriceStart fa fa-check-circle grey"></i>
    <i class="allProgress signFixPriceProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone signFixPriceDone fa fa-check-circle hide"></i>
    <i class="allRetry signFixPriceRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.form.fixed_price')%></h4>
    <p class="para-color"><%= t('collections.form.fixed_price_text')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart signFixPriceStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress signFixPriceProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone signFixPriceDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry signFixPriceRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>