<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart signbidStart fa fa-check-circle grey"></i>
    <i class="allProgress signbidProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone signbidDone fa fa-check-circle hide"></i>
    <i class="allRetry signbidRetry fa fa-check-circle grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.signature')%></h4> 
    <p class="para-color"><%= t('collections.show.create_a_signature')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart signbidStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress signbidProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone signbidDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry signbidRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>
