<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="signStart fa fa-check-circle grey"></i>
    <i class="signProgress fa fa-spinner fa-pulse hide"></i>
    <i class="signDone fa fa-check-circle hide"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.form.sign_message')%></h4>
    <p class="para-color"><%= t('collections.form.sign_message_text')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="signStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="signProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="signRetry hide"><%= t('shared.try_again')%></a>
    <a href="javascript:void(0)" class="signDone hide"><%= t('shared.done')%></a>
  </div>
</div>