<div id="transferTokenForm" class="zoom-anim-dialog mfp-hide modal sm_modal">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.show.transfer_token')%></h4>
  <%= hidden_field_tag 'is_collection_multiple', @collection.multiple? %>
  <%= form_tag('#', class: 'change-price-form', id: 'tokenTransferForm') do %>
    <div class="modal-body pl-30 pr-30">
      <div class="row mb-15">
        <div class="col-md-12">
          <div class="form-group">
            <label for="full_name"><%= t('collections.show.user_wallet_address')%></label>
            <%= text_field_tag "address", nil, class: 'form-control transferAddress sign__input', placeholder: 'Please provide wallet address', required: true %>
          </div>
        </div>
        <% if @collection.multiple? %>
          <div class="col-md-12 pt-10">
            <div class="form-group">
              <label for="quantity"><%= t('collections.show.quantity') %></label>
              <input type="number" id='transfer_qty' class="form-control sign__input transferQuantity validatePresence validInteger" placeholder="Enter Quantity" max="<%= @collection.owned_tokens %>" required/>
            </div>
          </div>
        <% else %>
          <input type="number" id='transfer_qty' class="transferQuantity" value="<%= @collection.owned_tokens %>" hidden/>
        <% end %>
      </div>
    </div>
    <div class="modal-footer text-center">
      <a class="btn buy-now bidding-element-btn triggerTransfer theme-btn" href="" role="button"><%= t('shared.transfer')%></a>
    </div>
  <% end %>
</div>

<div id="transferToken" class="zoom-anim-dialog mfp-hide modal sm_modal">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('shared.follow_steps')%></h4>
  <div class="modal-body">
    <div class="convertEth">
      <%= render partial: 'transferring' %>
    </div>
  </div>
</div>