<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allProgress transferProgress fa fa-spinner fa-pulse"></i>
    <i class="allDone transferDone fa fa-check-circle hide"></i>
    <i class="allRetry transferRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.transferring')%></h4>
    <p class="para-color"><%= t('collections.show.follow_the_wallet')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allProgress transferProgress disabledLink"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone transferDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry transferRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>