<% if @notifications.present? %>
  <% notification_count = 0 %>
  <% @notifications.each do |activity| %>
    <%# next if ((activity.item_type == "Bid" && (!activity.item.user.present? || !activity.item.collection.present?)) || activity.item_type == "Like" && (!activity.item.user.present? || !activity.item.collection.present?)) %>
    <% next if (
      (activity.item_type == "Bid" && ((!activity.item.user.present? || !activity.item.collection.present?) ||
        (activity.item.user == current_user && (activity.event == 'update' && 
          !activity.changeset.keys.include?("state")
        )) ||
        (activity.item.owner == current_user && activity.event != 'create')
      )) ||
      (activity.item_type == "Like" && (!activity.item.user.present? || !activity.item.collection.present?)) ||
      (activity.item_type == "Follow" && (!activity.item.follower.present? || !activity.item.followee.present?)) ||
      (activity.item_type == "User" && (activity.event == 'create' || (activity.changeset["is_verified"].present? && !activity.changeset["is_verified"].last))) ||
      (activity.item_type == "Collection" && activity.event == "update" && (
          !Collection.is_valid_activity(activity) || !activity.changeset.keys.include?("owner_id")
        )
      )
    ) %>
    <% notification_count += 1 %>
    <li>
      <div class="notifier-elements">
        <% if activity.item_type == "Follow" %>
          <%= link_to user_path(id: activity.item.follower.address), class: 'notify_link' do %>
            <div class="notification-list-img">
              <%= image_tag url_for(activity.item.follower.profile_image(:icon)), class: 'img-responsive' %>
            </div>
            <div class="notification-list-content">
              <h4 data-toggle="tooltip" data-placement="top" title="<%= activity.item.follower.full_name %>"><%= activity.item.follower.full_name %></h4>
              <p class="para-color" data-toggle="tooltip" data-placement="top" title="started following">started following</p>
            </div>
          <% end %>
        <% elsif activity.item_type == "Like" %>
          <%= link_to collection_path(id: activity.item.collection.address), class: 'notify_link' do %>
            <div class="notification-list-img">
              <%= image_tag url_for(activity.item.user.profile_image(:icon)), class: 'img-responsive' %>
            </div>
            <div class="notification-list-content">
              <h4 data-toggle="tooltip" data-placement="top" title="liked">@<%= activity.item.user.full_name %> liked</h4>
              <p class="para-color" data-toggle="tooltip" data-placement="top" title="<%= activity.item.collection.name %>"><%= activity.item.collection.name %></p>
            </div>
          <% end %>
        <% elsif activity.item_type == "Bid" %>
          <%= link_to collection_path(id: activity.item.collection.address, tab: 'bid'), class: 'notify_link' do %>
            <div class="notification-list-img">
              <%= image_tag url_for(cover_url(activity.item.collection)), class: 'img-responsive' %>
            </div>
            <div class="notification-list-content">
              <% if activity.item.owner == current_user && activity.event == 'create' %>
                <h4 data-toggle="tooltip" data-placement="top"><%= activity.item.user.full_name %></h4>
                <p class="para-color" data-toggle="tooltip" data-placement="top">offered <%= activity.item.crypto_currency %> <%= activity.item.crypto_currency_type %></p>
              <% end %>
              <% if activity.item.user == current_user && activity.event == 'update' %>
                <h4 data-toggle="tooltip" data-placement="top"><%= activity.item.user.full_name %></h4>
                <% if activity.changeset["state"] == ['pending', 'executed'] %>
                  <p class="para-color" data-toggle="tooltip" data-placement="top">Your bid have been accepted by <%= activity.item.owner.full_name %></p>
                <% elsif activity.changeset["state"] == ['pending', 'expired'] %>
                  <p class="para-color" data-toggle="tooltip" data-placement="top">Your bid Expired by <%= activity.item.owner.full_name %></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% elsif activity.item_type == 'Collection' %>
          <%= link_to collection_path(id: activity.item.address), class: 'notify_link' do %>
            <div class="notification-list-img">
              <%= image_tag url_for(cover_url(activity.item)), class: 'img-responsive' %>
            </div>
            <div class="notification-list-content">
              <% if activity.event == 'create' %>
                <h4 data-toggle="tooltip" data-placement="top"><%= activity.item.name %></h4>
                <!--<p class="para-color" data-toggle="tooltip" data-placement="top" >Minted by <%#= activity.item.creator.full_name %></p> -->
                <p>Minted by <%= activity.item.creator.full_name %></p>
              <% end %>
              <% if activity.event == 'update' && activity.changeset["owner_id"].present? %>
                <h4 data-toggle="tooltip" data-placement="top"><%= activity.item.name %></h4>
                <p class="para-color" data-toggle="tooltip" data-placement="top">Transferred from <%= activity.reify.owner.full_name %></p>
              <% end %>
            </div>
          <% end %>
        <% elsif activity.item_type == "User" %>
          <%= link_to user_path(id: current_user.address), class: 'notify_link' do %>
            <div class="notification-list-img">
              <%= image_tag url_for(current_user.profile_image(:icon)), class: 'img-responsive' %>
            </div>
            <div class="notification-list-content">
              <h4 data-toggle="tooltip" data-placement="top" title="liked">Profile successfully verified</h4>
              <p class="para-color">&nbsp;</p>
            </div>
          <% end %>
        <% end %>
        <div class="notification-list-timings" data-toggle="tooltip" data-placement="top" title="<%= time_ago_in_words(activity.created_at).capitalize %>">
          <%= time_ago_in_words(activity.created_at).capitalize %>
        </div>
      </div>
    </li>
  <% end %>
  <script type="text/javascript">
    $('.notification_count').text("<%= notification_count %>");
  </script>
<% else %>
  <div class="notify_empty">
    <img src="/assets/notification-bell.svg" />
    <h4><%= t('common.no_new_notifications')%></h4>
  </div>
<% end %>