<div class="col-md-3 col-sm-6 col-xs-12 custom-width-res-1">
  <div class="featured-creators-box">
    <div class="featured-creators-box-img">
      <div class="featured-creators-box-img-bg" style="background-image:url(<%= url_for user.banner_image %>)">
        <img src="assets/bg-1.jpg" class="img-responsive">
      </div>
      <div class="featured-creators-box-img-profile">
        <%= image_tag url_for(user.profile_image), class: "img-responsive" %>
      </div>
    </div>
    <div class="featured-creators-box-content">
      <h4><a href="/users/<%=user.address%>"><%= user.full_name %></a></h4>
      <a href="https://twitter.com/<%= user.twitter_link %>" target="_blank">@<%= user.twitter_link %></a>
    </div>
  </div>
</div>
