<p id="notice"><%= notice %></p>

<h1>Bids</h1>

<table>
  <thead>
    <tr>
      <th><%= t('bids.show.users')%></th>
      <th><%= t('bids.show.collection')%></th>
      <th><%= t('bids.show.crypto_currency_type')%></th>
      <th><%= t('bids.show.crypto_currency')%></th>
      <th><%= t('bids.show.register_date')%></th>
      <th><%= t('bids.show.is_active')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.user_id %></td>
        <td><%= bid.collection_id %></td>
        <td><%= bid.crypto_currency_type %></td>
        <td><%= bid.crypto_currency %></td>
        <td><%= bid.register_date %></td>
        <td><%= bid.is_active %></td>
        <td><%= link_to t('shared.show'), bid %></td>
        <td><%= link_to t('shared.edit'), edit_bid_path(bid) %></td>
        <td><%= link_to t('shared.destroy'), bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('bids.new_bid'), new_bid_path %>
