<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="<%= admin_root_path %>" class="logo logo-dark">
        <span class="logo-sm">
        <%= image_tag "yolo.png", height: "30" %>
        </span>
        <span class="logo-lg">
        <%= image_tag "yolo.png", height: "40" %>
        </span>
        </a>
        <a href="<%= admin_root_path %>" class="logo logo-light">
        <span class="logo-sm">
        <%= image_tag "yolo.png", height: "30" %>
        </span>
        <span class="logo-lg">
        <%= image_tag "yolo.png", height: "40" %>
        </span>
        </a>
      </div>
      <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
      <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
    <%= render partial: 'admin/common/change_network' %>
    <div class="d-flex">
      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "default_user.png", class: "rounded-circle header-profile-user" %>
        <span class="d-none d-xl-inline-block ml-1" key="t-henry"><%= current_admin_admin_user.name %></span>
        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <!-- item-->
          <!-- <div class="dropdown-divider"></div> -->
          <%= link_to destroy_admin_admin_user_session_path, class: "dropdown-item text-danger", method: :delete do %>
            <i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i>
            <span key="t-logout">Logout</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>