    <div class="scrollbar custom-display-scrollbar <%= id %>" id="style-15">
      <div class="force-overflow <%= id %>">
        <% follows.each do |follow| %>
          <div class="activity">

              <%= link_to user_path(id: follow.address),:class=>"activity__cover"  do %>
                <%= image_tag url_for(follow.profile_image), class: 'img-responsive' %>
              <% end %>
              <% if follow.is_verified %>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <% end %>
            <div class="activity__content">
             
              <p class="activity__text">
              <%= follow.followers.count %> followers</p>
              <p class="follow-detail-name"><%= follow.full_name %></p>
            </div>

            <% if id != "following" && !followees.pluck(:id).include?(follow.id) %>
              <div class="follow-details-button">
                <a href="<%= follow_users_path(id: follow.address) %>" class="connect-wallet">
                  <i class="fa fa-user-plus color-white"></i> <span class="color-white">Follow</span>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>

        
      </div>
    </div>



