<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= t("admin.categories.show.title") %></h4>

            <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label"><%= t("admin.categories.show.name") %></label>
              <div class="col-md-10">
                <p class="pt-2"><%= @category.name %></p>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-md-2 col-form-label"><%= t("admin.categories.show.is_active") %></label>
              <div class="col-md-10">
                <p class="pt-2"><%= boolean_str(@category.is_active) %></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>