<%# if activity.event == "create" && activity.item.user.present? && activity.item.collection.present? %>
<% if activity.item.user.present? && activity.item.collection.present? && (activity.event == 'create' ||
   (activity.event == 'update' && activity.changeset.keys.include?("state") && ["executed", "expired"].include?(activity.changeset["state"].last))) %>
  <% bid = activity.item %>
  <% cover_image = bid.collection.cover.present? ? bid.collection.cover : bid.collection.attachment %>
  <% if activity.event == 'create' %>
    <div class="activity">
      <%= link_to collection_path(bid.collection.address),:class=>"activity__cover" do %>
        <%= image_tag url_for(cover_image),:size=>"140x162" %>
      <% end %>
      <div class="activity__content">
        <h3 class="activity__title">
          <%= link_to collection_path(bid.collection.address) do %>
            <%= bid.collection.title %>
          <% end %>

        </h3>
        <p class="activity__text">offered by
          <%= link_to user_path(bid.user.address) do %>
            @<%= bid.user.full_name %>
          <% end %>  <br>for <%= bid.crypto_currency %> <%= bid.crypto_currency_type %> </p>
          <span class="activity__time"><%= time_ago_in_words(activity.created_at) %> </span>
      </div>
    </div>
  <% else %>
    <div class="activity">
      <%= link_to collection_path(bid.collection.address), :class=>"activity__cover" do %>
        <%= image_tag url_for(cover_image), :size=>"140x162" %>
      <% end %>
      <div class="activity__content">
        <h3 class="activity__title">
          <%= link_to collection_path(bid.collection.address) do %>
            <%= bid.collection.title %>
          <% end %>
        </h3>
        <% if activity.changeset["state"].last == "executed" %>
        <p class="activity__text">Accepted by
          <%= link_to user_path(bid.owner.address) do %>
            @<%= bid.owner.full_name %>
          <% end %>  <br>for <%= bid.crypto_currency %> <%= bid.crypto_currency_type %>
        </p>
        <span class="activity__time"><%= time_ago_in_words(activity.created_at) %> </span>
        <% end %>
        <% if activity.changeset["state"].last == "expired" %>
        <p class="activity__text">Expired by
          <%= link_to user_path(bid.owner.address) do %>
            @<%= bid.owner.full_name %>
          <% end %><br>for <%= bid.crypto_currency %> <%= bid.crypto_currency_type %>
        </p>
        <span class="activity__time"><%= time_ago_in_words(activity.created_at) %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
