<% if activity.event == "create" && activity.item.user.present? && activity.item.collection.present? %>
    <% cover_image = activity.item.collection.cover.present? ? activity.item.collection.cover : activity.item.collection.attachment %>
    <div class="activity">
      <%= link_to collection_path(activity.item.collection.address),:class=>"activity__cover" do %>
          <%= image_tag url_for(cover_image),:size=>"140x162" %>
      <% end %>
      <div class="activity__content">
        <h3 class="activity__title">
          <%= link_to collection_path(activity.item.collection.address) do %>
              <%= activity.item.collection.title %>
          <% end %>

        </h3>
        <p class="activity__text">liked by
          <%= link_to user_path(activity.item.user.address) do %>
              @<%= activity.item.user.full_name %>
          <% end %>  <br>
          <span class="activity__time"><%= time_ago_in_words(activity.created_at) %> </span>
      </div>
    </div>
<% end %>
