<div class="item dummy-hotbid">
	<div class="box-hot-bids">
        <div class="explore-bids-icon-heart wishlist">
            <a><i class="fa fa-heart"></i></a>
        </div>
		<a href="javascript:void(0);">
            <div class="explore-bids-img" style="background-image: url(/assets/dummy-image.jpg);">
                <img class="img-responsive" src="/assets/dummy-image.jpg">
            </div>
        </a>
        <div class="hot-bid-opt-img">
            <div class="hot-bid-auth-img">
                <div class="explore-bid-auth-img">
                        <a href="javascript:void(0);">
                            <img class="img-responsive" src="/assets/default_user.png">
                        </a>
                        <a href="javascript:void(0);">
                            <img class="img-responsive" src="/assets/default_user.png">
                        </a>
                        <a href="javascript:void(0);">
                            <img class="img-responsive" src="/assets/default_user.png">
                        </a>
                        <a href="javascript:void(0);">
                            <img class="img-responsive" src="/assets/default_user.png">
                        </a>
                    </div>
                </div>
                <div class="hot-bid-opt-icon">
                    <div class="dropdown">
                        <div class="more-list dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);"><%= t('collections.show.place_a_bid')%></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><%= t('collections.show.report')%></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hot-bids-content">
                <h4><%= t('common.example_hotbid_redeemable_title')%></h4>
                <p><%= t('common.not_for_sale')%></p>
                <p><%= t('collections.show.highest_bid')%><b>0.0001 WETH</b></p>
            </div>
        </div>
    </div>
</div>