<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="home__content">
          <!-- <h2  class="home_sub_title">The largest </h2> -->
          <h2  class="home_sub_title">The 1st ESG based</h2>
          <h1 class="home__title"><span class="creative-content">NFT</span> <br>Marketplace</h1>
          <p class="home__text">Buy, sell and trade collectibles autographed by the original artist.</p>

          <div class="home__btns">
            <a href="<%= search_path%>" class="home__btn home__btn--clr" data-turbolinks="false">Explore</a>
            <a href="<%= new_collection_path %>" class="home__btn">Create</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="banner_sec">
        <%#= image_tag "/assets/banner.png"%>
          <div id="header-carousel" class="owl-carousel owl-theme">
              <% @featured_collections.each do |collection| %>
                <div class="item">
                  <%= link_to collection_path(id: collection.address) do %>
                    <div class="banner-section">
                      <%= image_tag cover_url(collection), class: 'img-responsive' %>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if @featured_collections.empty? %>
                <div class="item">
                  <div class="banner-section">
                    <%= image_tag "/assets/banner.png", class: 'img-responsive' %>
                  </div>
                </div>
                <div class="item">
                  <div class="banner-section">
                    <%= image_tag "/assets/banner.png", class: 'img-responsive' %>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
  
    </div>
  </div>
</div>