 <div class="header__menu">
        <ul class="header__nav">
          <li class="header__nav-item">
            <a class="header__nav-link" href="/faq"><%= t('header.HIW') %></a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="/about"><%= t('header.about_us') %></a>
          </li>
          <li class="header__nav-item">
             <%#if current_user.is_approved%>
                  <a href="<%=new_collection_path%>" class="header__nav-link"><%= t('header.create') %></a>
             <%#end%>
          </li>
          <li class="header__nav-item">
            <a href="<%= activities_path(activity_type: "activity") %>" class="header__nav-link"><%= t('header.activity') %></a>
          </li>
          <!--<li class="header__nav-item">
            <a href="#" class="header__nav-link">Community</a>
          </li>-->
        </ul>
      </div>
