<div id="connect_to_wallet" class="zoom-anim-dialog mfp-hide modal sm_modal">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4><%= t('header.connect_wallet') %></h4>
  <p><%= t('header.wallet_help') %> <a href="#what-wallet" class="open-modal"><%= t('header.wallet_info') %></a></p>

  <div class="w_btn">
    <a href="javascript:void(0);" onclick="window.connect('metamask')">
      <span class="w_btn_icon"><img src="/assets/metamask.png"></span>
      <%= t('header.metamask_wallet') %>
    </a>
    <a href="javascript:void(0);" onclick="window.connect('walletConnect')">
      <span class="w_btn_icon"><img src="/assets/wallet.png"></span>
      WalletConnect &nbsp; &nbsp;
    </a>
  </div>
  <p class="mt-20"><%= t('header.wallet_confi') %></p>
</div>


<div id="what-wallet" class="zoom-anim-dialog mfp-hide modal sm_modal">
  <!-- <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button> -->
  <a class="open-modal default-modal-element" href="#connect_to_wallet">
    <i class="fas fa-times"></i>
  </a>
  <h4 class="modal-title">What is a wallet?</h4>
  <p>Wallets are used to send, receive, and store digital assets like Ether. Wallets come in many forms. They are either built into your browser, an extension added to your browser, a piece of hardware plugged into your computer, or even an app on your phone.</p>
</div>


<script type="text/javascript">
  $('#text-what-is-wallet').click(function(){
    $("#connect_to_wallet .modal__close").click();
  });
  var address;
</script>